.footer{
  padding: 36px 0 0 0;
  background-color: var(--foter-bg);

  &__top{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    padding-bottom: 32px;
    border-bottom: 1px solid var(--grey-text);

    @media (min-width: 576px) {
      grid-template-columns: 1fr;
      grid-row-gap: 36px;
    }

    @media (min-width: 768px) {
      grid-template-columns: 3fr 3fr 3fr 3fr;
      grid-row-gap: 24px;
    }
  }

  &__logo{
    margin-bottom: 40px;
  }

  &__contacts{
    & li{
      color: var(--grey-bg);
      @include adaptiveValue('font-size', 16, 14);

      display: flex;
    }

    & li:not(:last-child){
      margin-bottom: 24px;

      align-items: center;
    }
  }

  &__contact{
    margin-left: 8px;

    color: inherit;
    font-weight: 400;
    line-height: 1.5;

    text-decoration: none;
  }

  &__work-time{
    margin-left: 8px;

    & span{
      margin-top: 4px;
      padding: 5px 7px;

      border-radius: 2px;

      color: var(--black-text);
      background-color: var(--yellow-bg);
      @include adaptiveValue('font-size', 14, 12);
      line-height: 1.14;

      display: block;
      width: fit-content;
    }
  }

  &__menu-name,
  &__title{
    margin-bottom: 16px;

    color: var(--yellow-text);
    font-weight: 700;
    @include adaptiveValue('font-size', 16, 14);
    line-height: 1;
  }

  &__menu{
    & .sub-menu {
      padding-left: 20px;

      & li {
        position: relative;

        &::before{
          content: "·";
          font-size: 1.5em;
          line-height: 1;
          position: absolute;
          left: -14px;
          top: 13px;
          transform: translateY(-50%);
          color: var(--grey-bg);
        }
      }
    }
  }

  &__menu-link{
    padding: 8px 0;

    color: var(--grey-bg);
    font-weight: 400;
    @include adaptiveValue('font-size', 16, 14);
    line-height: 1;

    display: block;

    text-decoration: none;

    transition: color .3s ease;

    @media (hover: hover) {
      &:hover{
        color: var(--yellow-text);
      }
    }

    & i{
      margin-right: 8px;
    }
  }

  &__logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 12px;

    &:not(:last-child){
      margin-bottom: 32px;
    }
  }

  &__row{
    padding: 32px 0;

    &:not(:last-child){
      border-bottom: 1px solid var(--grey-text);
    }
  }

  &__row &__menu{
    columns: 2;

    @media (min-width: 576px) {
      columns: 3;
    }
  }

  &__bottom{
    padding: 32px 0 29px;
    text-align: center;

    //border-top: 1px solid var(--grey-text);
  }

  &__text{
    max-width: 1016px;
    width: 100%;
    margin: 0 auto;

    color: var(--grey-bg);
    @include adaptiveValue('font-size', 14, 12);
    line-height: 1.14;

    text-align: center;

    &:not(:last-child){
      margin-bottom: 16px;
    }
  }
}