.form{
  padding: var(--padding-section) 0;
  background-color: var(--grey-bg);

  &__title{
    margin-bottom: 32px;
    @include adaptiveValue('font-size', 40, 26);
    line-height: 1.6;
  }

  &__wrap{
    max-width: 1064px;
    width: 100%;
    margin: 0 auto;

    box-shadow: 0px 4px 16px rgba(6, 87, 133, 0.16);
    border-radius: 8px;
    background-color: var(--light-bg);

    @media (min-width: 1200px) {
      max-width: 100%;
    }
  }
}