.how-work{
  background-color: var(--light-bg);
  padding: var(--padding-section) 10px;

  &__title{
    margin-bottom: 16px;
    text-align: center;
    @include adaptiveValue('font-size', 40, 26);
  }

  &__subtitle{
    margin: 0 0 32px 0;
    color: var(--black-text);
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    @include adaptiveValue('font-size', 20, 16);
  }

  &__wrap{
    margin: 0 auto;
    max-width: 1064px;
    min-height: 458px;
    width: 100%;

    overflow: hidden;

    display: flex;
    background-color: var(--grey-bg);
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(6, 87, 133, 0.16);
  }

  &__slider{
  }

  & .tns-outer{
    width: inherit;
  }

  & .tns-ovh, & .tns-inner{
    height: 100%;
  }
}

.how-work-slider{

  height: 100%;

  &__slide{
    height: 100%;
  }

  &__grid{
    height: 100%;

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }

  &__wrap{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 992px) {
      padding: 40px 0 24px 0;
      @include adaptiveValue('padding-right', 100, 20, 1250, 992, 1);
    }

    @media (min-width: 445px) {
      padding: 20px;
    }
  }

  &__img{
    margin: 0 auto;
    align-self: center;
    display: none;

    @media (min-width: 992px) {
      display: block;
    }
  }

  &__wrap &__img{
    display: block;
    margin-bottom: 15px;
    max-width: 280px;
    width: 100%;

    @media (min-width: 992px) {
      display: none;
      margin-bottom: 0;
    }
  }

  &__line{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

    @media (min-width: 992px) {
      justify-content: flex-start;
    }
  }

  &__step-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #CFDCD9;

    @include adaptiveValue('font-size', 16, 14);
    font-weight: 700;
    color: var(--grey-text);

    &--active{
      border-color: var(--blue-text);
      background: var(--blue-text);
      color: var(--light-text);
    }
  }

  &__separator{
    @include adaptiveValue('margin-right', 32, 5, 1250, 320, 1);
    @include adaptiveValue('margin-left', 32, 5, 1250, 320, 1);
    max-width: 32px;
    width: 100%;
    height: 1px;
    background-color: var(--crayola);
  }

  &__top{
    margin-bottom: 12px;
    flex-direction: column;

    @media (min-width: 445px) {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }

  &__step{
    margin-bottom: 5px;
    color: var(--blue-text);
    @include adaptiveValue('font-size', 16, 14);
    font-weight: 500;

    @media (min-width: 445px) {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }

  &__title{
    color: var(--black-text);
    @include adaptiveValue('font-size', 24, 18);
  }

  &__text{
    margin: 0;
    color: var(--grey-text);
    @include adaptiveValue('font-size', 16, 14);
    line-height: 1.5;
    font-weight: 400;
  }

  &__btn{
    margin: 32px auto 0;
    padding: 20px 28px;
    border-radius: 50px;
    background-color: var(--green);
    color: var(--light-text);
    @include adaptiveValue('font-size', 16, 14);
    line-height: 1;
    font-weight: 700;

    text-decoration: none;
    display: block;
    width: fit-content;
  }

  &__controls{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 375px) {
      justify-content: center;
    }
  }

  &__arrow{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 37px;
    height: 37px;
    border-radius: 50%;

    background-color: #9DD979;
    color: var(--light-text);
    font-size: rem(20);
    
    &:disabled{
      background-color: #CFDCD9;
      cursor: auto;
    }

    &--next{
      & i{
        margin-left: 3px;
      }
    }

    &--prev{
      & i {
        margin-right: 1px;
      }
    }
  }

  &__dots{
    display: flex;

    @media (min-width: 375px) {
      margin: 0 40px;
    }
  }

  &__dot{
    margin: 0 8px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #CFDCD9;

    position: relative;

    &::after{
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--active{
      background-color: var(--green);
    }
  }
}