.top-header{
  &__container{
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

.top-header-contacts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  &__item{
    display: flex;
    align-items: center;
    position: relative;
  }

  &__drop-down{
    background-color: var(--light-bg);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2);
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    color: var(--black-text);
    display: none;

    &.show{
      display: block;
    }
  }

  &__drop-down > &__item{

  }

  &__drop-down > &__item > &__link{
    white-space: nowrap;
    padding: 10px;
    color: var(--black-text);
    transition: background-color .3s ease;

    @media (hover: hover) {
      &:hover {
        background-color: var(--grey-bg);
      }
    }
  }

  &__icon{
    font-size: rem(16);
    color: var(--light-text);
    margin-right: 8px;
  }

  &__link{
    font-size: rem(14);
    color: var(--light-text);
    text-decoration: none;
    font-weight: 400;
    line-height: 1;
  }

  &__text{
    font-size: rem(12);
    line-height: 1;
    font-weight: 400;
  }

  &__btn{
    font-size: rem(14);
    color: var(--light-text);

    & i{
      margin-left: 8px;
    }
  }
}

.top-header-menu{
  &__list{
    display: flex;
    gap: 19px;
    justify-content: space-between;
  }

  &__item{

  }

  &__link{
    font-size: rem(12);
    font-weight: 400;
    color: var(--light-text);
    text-decoration: none;
    line-height: 1.33;
  }
}

.top-header-social{
  display: flex;
  gap: 16px;

  &__item{

  }

  &__link{
    width: 24px;
    height: 24px;
    border: 1px solid var(--light-text);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-text);
    text-decoration: none;
    font-size: rem(12);
  }
}