:root {
  // base
  --font-family: "Jost", sans-serif;
  --content-width: 1225px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --green: #14A800;
  --red: #EB001B;

  // bgs
  --top-header-bg: #4D4F54;
  --light-bg: #ffffff;
  --grey-bg: #F2F6F9;

  //font
  --light-text: #ffffff;
  --black-text: #001E00;
  --grey-text: #4D4F54;
  --green-text: #14A800;
  --red-text: #EB001B;
  --blue-text: #1F57C3;

  //margin
  --padding-section: 64px;

  @media (max-width: 767.98px) {
    --padding-section: 35px;
  }
}