:root {
  // base
  --font-family: "Jost", sans-serif;
  --content-width: 1225px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  // bgs
  --top-header-bg: #4D4F54;
  --light-bg: #ffffff;
  --grey-bg: #F2F6F9;

  //font
  --light-text: #ffffff;
  --black-text: #001E00;
}