<!doctype html>
<html lang="en" class="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body class="page__body">
<div class="site-container">
    <header class="header">
        <div class="header__top-header top-header">
            <div class="top-header__container container">
                <ul class="top-header__contacts top-header-contacts list-reset" aria-label="Contacts">
                    <li class="top-header-contacts__item">
                        <i class="fas fa-phone-alt top-header-contacts__icon" aria-hidden="true"></i>
                        <a href="tel:493022389845" class="top-header-contacts__link">+49 30 223-898-45</a>
                    </li>
                    <li class="top-header-contacts__item">
                        <p class="top-header-contacts__text">09:00 – 20:00 Lun - Ven</p>
                    </li>
                    <li class="top-header-contacts__item">
                        <i class="fab fa-whatsapp top-header-contacts__icon" aria-hidden="true"></i>
                        <button data-drop-menu="1" class="top-header-contacts__btn btn-reset" aria-haspopup="true"
                                aria-expanded="false" aria-label="Open WhatsApp phones list">
                            WhatsApp
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </button>
                        <ul class="top-header-contacts__drop-down list-reset" role="menu"
                            aria-label="WhatsApp phones list">
                            <li class="top-header-contacts__item">
                                <a href="" class="top-header-contacts__link">+49 30 223-898-45</a>
                            </li>
                            <li class="top-header-contacts__item">
                                <a href="" class="top-header-contacts__link">+49 30 223-898-45</a>
                            </li>
                        </ul>
                    </li>
                    <li class="top-header-contacts__item">
                        <i class="fas fa-envelope top-header-contacts__icon" aria-hidden="true"></i>
                        <button data-drop-menu="1" class="top-header-contacts__btn btn-reset" aria-haspopup="true"
                                aria-expanded="false" aria-label="Open E-Mail address list">
                            E-Mail
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </button>
                        <ul class="top-header-contacts__drop-down list-reset" role="menu" aria-label="E-mails list">
                            <li class="top-header-contacts__item">
                                <a href="mailto:test@loc.loc" class="top-header-contacts__link">test@loc.loc</a>
                            </li>
                            <li class="top-header-contacts__item">
                                <a href="mailto:test@loc.loc" class="top-header-contacts__link">test@loc.loc</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <nav class="top-header__menu top-header-menu list-reset" aria-label="Top header menu">
                    <ul class="top-header-menu__list list-reset" role="menubar" aria-label="Top header menu">
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Come funziona</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Domande frequenti</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Garanzia</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Lavoro</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Dichiarazione legale</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Il nostro team</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Blog</a>
                        </li>
                    </ul>
                </nav>
                <ul class="top-header__social top-header-social list-reset">
                    <li class="top-header-social__item">
                        <a href="#" class="top-header-social__link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="top-header-social__item">
                        <a href="#" class="top-header-social__link"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="top-header-social__item">
                        <a href="#" class="top-header-social__link"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>
</body>
</html>