<!doctype html>
<html lang="en" class="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body class="page__body">
<div class="site-container">
    <header class="header">
        <div class="header__top-header top-header">
            <div class="top-header__container container">
                <ul class="top-header__contacts top-header-contacts list-reset" aria-label="Contacts">
                    <li class="top-header-contacts__item">
                        <i class="fas fa-phone-alt top-header-contacts__icon" aria-hidden="true"></i>
                        <a href="tel:493022389845" class="top-header-contacts__link">+49 30 223-898-45</a>
                    </li>
                    <li class="top-header-contacts__item">
                        <p class="top-header-contacts__text">09:00 – 20:00 Lun - Ven</p>
                    </li>
                    <li class="top-header-contacts__item">
                        <i class="fab fa-whatsapp top-header-contacts__icon" aria-hidden="true"></i>
                        <button data-drop-menu="1" class="top-header-contacts__btn btn-reset" aria-haspopup="true"
                                aria-expanded="false" aria-label="Open WhatsApp phones list">
                            WhatsApp
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </button>
                        <ul class="top-header-contacts__drop-down list-reset" role="menu"
                            aria-label="WhatsApp phones list">
                            <li class="top-header-contacts__item">
                                <a href="" class="top-header-contacts__link">+49 30 223-898-45</a>
                            </li>
                            <li class="top-header-contacts__item">
                                <a href="" class="top-header-contacts__link">+49 30 223-898-45</a>
                            </li>
                        </ul>
                    </li>
                    <li class="top-header-contacts__item">
                        <i class="fas fa-envelope top-header-contacts__icon" aria-hidden="true"></i>
                        <button data-drop-menu="1" class="top-header-contacts__btn btn-reset" aria-haspopup="true"
                                aria-expanded="false" aria-label="Open E-Mail address list">
                            E-Mail
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </button>
                        <ul class="top-header-contacts__drop-down list-reset" role="menu" aria-label="E-mails list">
                            <li class="top-header-contacts__item">
                                <a href="mailto:test@loc.loc" class="top-header-contacts__link">test@loc.loc</a>
                            </li>
                            <li class="top-header-contacts__item">
                                <a href="mailto:test@loc.loc" class="top-header-contacts__link">test@loc.loc</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <nav class="top-header__menu top-header-menu list-reset" aria-label="Top header menu">
                    <ul class="top-header-menu__list list-reset" role="menubar" aria-label="Top header menu">
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Come funziona</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Domande frequenti</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Garanzia</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Lavoro</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Dichiarazione legale</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Il nostro team</a>
                        </li>
                        <li class="top-header-menu__item">
                            <a href="#" class="top-header-menu__link" role="menuitem">Blog</a>
                        </li>
                    </ul>
                </nav>
                <ul class="top-header__social top-header-social list-reset">
                    <li class="top-header-social__item">
                        <a href="#" class="top-header-social__link" aria-label="Facebook">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="top-header-social__item">
                        <a href="#" class="top-header-social__link" aria-label="Instagram">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="top-header-social__item">
                        <a href="#" class="top-header-social__link" aria-label="LinkedIn">
                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="sale-text">
            <div class="sate-text__container container">
                <div class="sale-text__grid">
                    <div class="sale-text__col">
                        <h3 class="sale-text__title title">Si avvicina il grande giorno, la tua laurea sembra ormai alle
                            porte
                            ma ancora devi occuparti dell’elaborato di tesi.</h3>
                        <p class="sale-text__text">Credi di non essere in grado di scrivere un contenuto di questo tipo
                            da solo oppure non hai sufficiente tempo per farlo e hai <b>PAURA</b> di trascorrere giorni
                            e
                            giorni ricurvo sulla tua scrivania…<br/>
                            Gli studenti molto spesso vivono queste sensazioni spiacevoli e hanno <b>bisogno di un
                                aiuto!</b>
                        </p>
                    </div>
                    <div class="sale-text__col">
                        <p class="sale-text__text sale-text__text--mark">
                            <i class="fas fa-exclamation sale-text__icon" aria-label="hidden"></i>
                            Se hai una scadenza a breve e non hai sufficiente tempo per scrivere una <b>tesi coi
                            fiocchi</b> di tuo pugno ti devi rivolgere a dei professionisti che ti possono aiutare.
                        </p>
                        <p class="sale-text__text">
                            Purtroppo, però…
                        </p>
                        <p class="sale-text__text">
                            Non è facile trovare dei professionisti in grado di scrivere velocemente contenuti di alta
                            qualità e di darti supporto durante questo periodo.<br>
                        </p>
                        <p class="sale-text__text">
                            Il nostro servizio nasce proprio per sopperire a questa problematica.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="work-with-us">
            <div class="work-with-us__container container">
                <div class="work-with-us__grid">
                    <h2 class="work-with-us__title title">Se ti rivolgerai a noi per la scrittura della tua tesi di
                        laurea,
                        potrai avere:</h2>
                    <ul class="work-with-us__list list-reset" aria-label="Work with us you will get">
                        <li class="work-with-us__item">
                            <span class="work-with-us__icon" aria-hidden="true">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                            <p class="work-with-us__item-text">
                                <b>Un professionista a tua disposizione</b> che si occuperà del tuo caso nello
                                specifico: per qualsiasi problematica potrai parlarne con lui e non ti sentirai mai
                                abbandonato/a;
                            </p>
                        </li>
                        <li class="work-with-us__item">
                            <span class="work-with-us__icon" aria-hidden="true">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                            <p class="work-with-us__item-text">
                                Il nostro staff è composto da <b>professionisti che hanno superato una rigorosa
                                selezione</b> e
                                che hanno esperienza nella creazione di lavori simili: questo significa che non dovrai
                                più preoccuparti, siamo in grado di scrivere su qualsiasi tematica proprio perché lo
                                abbiamo già fatto tante altre volte!
                            </p>
                        </li>
                        <li class="work-with-us__item">
                            <span class="work-with-us__icon" aria-hidden="true">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                            <p class="work-with-us__item-text">
                                Possibilità di <b>contatto diretto con il ghostwriter professionista:</b> avrai a
                                disposizione
                                una telefonata gratuita di <b>30 minuti con chi scriverà la tua tesi di laurea</b>;
                            </p>
                        </li>
                        <li class="work-with-us__item">
                            <span class="work-with-us__icon" aria-hidden="true">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                            <p class="work-with-us__item-text">
                                <b>Numero illimitato di cicli di feedback</b> durante la scrittura della tesi
                            </p>
                        </li>
                        <li class="work-with-us__item">
                            <span class="work-with-us__icon" aria-hidden="true">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                            <p class="work-with-us__item-text">
                                <b>Controllo di qualità indipendente:</b> potrai avere la certezza che l’elaborato
                                rispetti elevati requisiti di qualità;
                            </p>
                        </li>
                        <li class="work-with-us__item">
                            <span class="work-with-us__icon" aria-hidden="true">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                            <p class="work-with-us__item-text">
                                <b>Controllo del plagio:</b> ti forniremo prove che l’elaborato di tesi non è stato
                                copiato da altre fonti
                            </p>
                        </li>
                        <li class="work-with-us__item">
                            <span class="work-with-us__icon" aria-hidden="true">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                            <p class="work-with-us__item-text">
                                <b>Garanzia finanziaria completa;</b>
                            </p>
                        </li>
                        <li class="work-with-us__item">
                            <span class="work-with-us__icon" aria-hidden="true">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                            <p class="work-with-us__item-text">
                                <b>Ricerca nella letteratura scientifica:</b> inseriremo all’interno della tua tesi
                                sperimentale o compilativa almeno 25 fonti. In ogni caso il contenuto citato non
                                supererà il 3% del testo totale;
                            </p>
                        </li>
                        <li class="work-with-us__item">
                            <span class="work-with-us__icon" aria-hidden="true">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                            <p class="work-with-us__item-text">
                                <b>Garanzia a vita sulle revisioni dopo la consegna</b> del lavoro al cliente: questa
                                garanzia sarà verificata da un vero certificato che potrai ricevere dopo esserti
                                affidato/a a noi!
                            </p>
                        </li>
                    </ul>
                    <div class="work-with-us__bg"></div>
                </div>
                <ul class="work-with-us__reasons reasons-work-with-us list-reset" aria-label="3 main reasons why we">
                    <li class="reasons-work-with-us__item">
                        <div class="reasons-work-with-us__icon">
                            <img src="img/work-with-us-icon-1.png" alt="Consulenza icon" loading="lazy">
                        </div>
                        <div class="reasons-work-with-us__content">
                            <h3 class="reasons-work-with-us__title title">Consulenza</h3>
                            <p class="reasons-work-with-us__text">La tua sicurezza è una nostra priorità! Il vostro
                                anonimato è garantito dalla trasmissione criptata</p>
                        </div>
                    </li>
                    <li class="reasons-work-with-us__item">
                        <div class="reasons-work-with-us__icon">
                            <img src="img/work-with-us-icon-2.png" alt="Consulenza icon" loading="lazy">
                        </div>
                        <div class="reasons-work-with-us__content">
                            <h3 class="reasons-work-with-us__title title">Elaborazione</h3>
                            <p class="reasons-work-with-us__text">Se volete ricevere man mano il lavoro completato
                                potete usufruire la consegna parziali e pagare a rate se siete soddisfatti del
                                risultato. Avete il controllo totale</p>
                        </div>
                    </li>
                    <li class="reasons-work-with-us__item">
                        <div class="reasons-work-with-us__icon">
                            <img src="img/work-with-us-icon-3.png" alt="Consulenza icon" loading="lazy">
                        </div>
                        <div class="reasons-work-with-us__content">
                            <h3 class="reasons-work-with-us__title title">Redazione</h3>
                            <p class="reasons-work-with-us__text">Il nostro servizio non è solo sinonimo di qualità, ma
                                anche di puntualità. Garantiamo la consegna puntuale del vostro ordine.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</div>
</body>
</html>